* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');
@import 'config';

body {
    font-family: 'Open Sans Condensed', sans-serif;
    padding: 20px 150px;
}
li {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: #000;
}


nav {
    margin: 50px 0;
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
}

li {
    margin: 0 10px;
}

svg {
    width: 20px;
    height: auto;
}

.row {
  margin: 10px;
  display: flex;
}
.row>div{
    border: 1px solid black;
    height:320px;
    width: 280px;
    margin-top: 20px;
    margin-right: 10px;
    margin-bottom: 30px;
}

main>h1{
    font-weight: lighter;
}

.men, .women, .jackets, .sneakers{
    display: flex;
}

.men1{
    background-image: url('https://i.ibb.co/mh3VM1f/polka-dot-shirt.png');
    position: relative;
}
.m-1{
    border: 1px solid black;
    height: 30px;
    width: 160px;
    position: absolute;
    padding: 2px;
    background-color: #fff;
    color: black;
    text-align: center;
    margin: 50px;
    top: 65px;
    right: -23px;
    display: none;
}
.men1:hover{
    opacity: 65%;
}
.men1:hover>.m-1{
    display: block;
}

.men2{
    background-image: url('https://i.ibb.co/VpW4x5t/roll-up-jean-shirt.png');
    position: relative;
}
.m-2{
    border: 1px solid black;
    height: 30px;
    width: 160px;
    position: absolute;
    padding: 2px;
    background-color: #fff;
    color: black;
    text-align: center;
    margin: 50px;
    top: 65px;
    right: -23px;
    display: none;
}
.men2:hover{
    opacity: 65%;
}
.men2:hover>.m-2{
    display: block;
}

.men3{
    background-image: url('https://i.ibb.co/RvwnBL8/pink-shirt.png');
    position: relative;
}
.m-3{
    border: 1px solid black;
    height: 30px;
    width: 160px;
    position: absolute;
    padding: 2px;
    background-color: #fff;
    color: black;
    text-align: center;
    margin: 50px;
    top: 65px;
    right: -23px;
    display: none;
}
.men3:hover{
    opacity: 65%;
}
.men3:hover>.m-3{
    display: block;
}

.men4{
    background-image: url('https://i.ibb.co/55z32tw/long-sleeve.png');
    position: relative;
}
.m-4{
    border: 1px solid black;
    height: 30px;
    width: 160px;
    position: absolute;
    padding: 2px;
    background-color: #fff;
    color: black;
    text-align: center;
    margin: 50px;
    top: 65px;
    right: -23px;
    display: none;
}
.men4:hover{
    opacity: 65%;
}
.men4:hover>.m-4{
    display: block;
}

.women1{
    background-image: url('https://i.ibb.co/qBcrsJg/white-vest.png');
    position: relative;
}
.w-1{
    border: 1px solid black;
    height: 30px;
    width: 160px;
    position: absolute;
    padding: 2px;
    background-color: #fff;
    color: black;
    text-align: center;
    margin: 50px;
    top: 65px;
    right: -23px;
    display: none;
}
.women1:hover{
    opacity: 65%;
}
.women1:hover>.w-1{
    display: block;
}

.women2{
    background-image: url('https://i.ibb.co/4W2DGKm/floral-blouse.png');
    position: relative;
}
.w-2{
    border: 1px solid black;
    height: 30px;
    width: 160px;
    position: absolute;
    padding: 2px;
    background-color: #fff;
    color: black;
    text-align: center;
    margin: 50px;
    top: 65px;
    right: -23px;
    display: none;
}
.women2:hover{
    opacity: 65%;
}
.women2:hover>.w-2{
    display: block;
}

.women3{
    background-image: url('https://i.ibb.co/KV18Ysr/floral-skirt.png');
    position: relative;
}
.w-3{
    border: 1px solid black;
    height: 30px;
    width: 160px;
    position: absolute;
    padding: 2px;
    background-color: #fff;
    color: black;
    text-align: center;
    margin: 50px;
    top: 65px;
    right: -23px;
    display: none;
}
.women3:hover{
    opacity: 65%;
}
.women3:hover>.w-3{
    display: block;
}

.women4{
    background-image: url('https://i.ibb.co/N3BN1bh/red-polka-dot-dress.png');
    position: relative;
}
.w-4{
    border: 1px solid black;
    height: 30px;
    width: 160px;
    position: absolute;
    padding: 2px;
    background-color: #fff;
    color: black;
    text-align: center;
    margin: 50px;
    top: 65px;
    right: -23px;
    display: none;
}
.women4:hover{
    opacity: 65%;
}
.women4:hover>.w-4{
    display: block;
}

.jacket1{
    background-image: url('https://i.ibb.co/XzcwL5s/black-shearling.png');
    position: relative;
}
.j-1{
    border: 1px solid black;
    height: 30px;
    width: 160px;
    position: absolute;
    padding: 2px;
    background-color: #fff;
    color: black;
    text-align: center;
    margin: 50px;
    top: 65px;
    right: -23px;
    display: none;
}
.jacket1:hover{
    opacity: 65%;
}
.jacket1:hover>.j-1{
    display: block;
}

.jacket2{
    background-image: url('https://i.ibb.co/N71k1ML/grey-jean-jacket.png');
    position: relative;
}
.j-2{
    border: 1px solid black;
    height: 30px;
    width: 160px;
    position: absolute;
    padding: 2px;
    background-color: #fff;
    color: black;
    text-align: center;
    margin: 50px;
    top: 65px;
    right: -23px;
    display: none;
}
.jacket2:hover{
    opacity: 65%;
}
.jacket2:hover>.j-2{
    display: block;
}

.jacket3{
    background-image: url('https://i.ibb.co/mJS6vz0/blue-jean-jacket.png');
    position: relative;
}
.j-3{
    border: 1px solid black;
    height: 30px;
    width: 160px;
    position: absolute;
    padding: 2px;
    background-color: #fff;
    color: black;
    text-align: center;
    margin: 50px;
    top: 65px;
    right: -23px;
    display: none;
}
.jacket3:hover{
    opacity: 65%;
}
.jacket3:hover>.j-3{
    display: block;
}

.jacket4{
    background-image: url('https://i.ibb.co/M6hHc3F/brown-trench.png');
    position: relative;
}
.j-4{
    border: 1px solid black;
    height: 30px;
    width: 160px;
    position: absolute;
    padding: 2px;
    background-color: #fff;
    color: black;
    text-align: center;
    margin: 50px;
    top: 65px;
    right: -23px;
    display: none;
}
.jacket4:hover{
    opacity: 65%;
}
.jacket4:hover>.j-4{
    display: block;
}


.sneaker1{
    background-image: url('https://i.ibb.co/bPmVXyP/black-converse.png');
    position: relative;
}
.s-1{
    border: 1px solid black;
    height: 30px;
    width: 160px;
    position: absolute;
    padding: 2px;
    background-color: #fff;
    color: black;
    text-align: center;
    margin: 50px;
    top: 65px;
    right: -23px;
    display: none;
}
.sneaker1:hover{
    opacity: 65%;
}
.sneaker1:hover>.s-1{
    display: block;
}

.sneaker2{
    background-image: url('https://i.ibb.co/0s3pdnc/adidas-nmd.png');
    position: relative;
}
.s-2{
    border: 1px solid black;
    height: 30px;
    width: 160px;
    position: absolute;
    padding: 2px;
    background-color: #fff;
    color: black;
    text-align: center;
    margin: 50px;
    top: 65px;
    right: -23px;
    display: none;
}
.sneaker2:hover{
    opacity: 65%;
}
.sneaker2:hover>.s-2{
    display: block;
}

.sneaker3{
    background-image: url('https://i.ibb.co/fMTV342/nike-brown.png');
    position: relative;
}
.s-3{
    border: 1px solid black;
    height: 30px;
    width: 160px;
    position: absolute;
    padding: 2px;
    background-color: #fff;
    color: black;
    text-align: center;
    margin: 50px;
    top: 65px;
    right: -23px;
    display: none;
}
.sneaker3:hover{
    opacity: 65%;
}
.sneaker3:hover>.s-3{
    display: block;
}

.sneaker4{
    background-image: url('https://i.ibb.co/1RcFPk0/white-nike-high-tops.png');
    position: relative;
}
.s-4{
    border: 1px solid black;
    height: 30px;
    width: 160px;
    position: absolute;
    padding: 2px;
    background-color: #fff;
    color: black;
    text-align: center;
    margin: 50px;
    top: 65px;
    right: -23px;
    display: none;
}
.sneaker4:hover{
    opacity: 65%;
}
.sneaker4:hover>.s-4{
    display: block;
}

